html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

nav {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

dialog {
    all: unset;
}

p {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -13,
    "XELA" 48,
    "YELA" 50;
    font-size: 50px;
    color: cyan;
    margin: 0;
    padding-top: 5rem;
    text-align: center;
}

article {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
   color: white;
   background: rgba(0, 0, 0, 0.7);
   border: 4px solid gray;
   margin-top: 8rem;
   padding: 2rem 4rem 3rem 4rem;
   border-radius: 8px;
}

article:hover {
background: rgba(0, 0, 0, 0.9);
}

form {
    color: lightblue;
    border: 4px solid gray;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

form:hover {
  background-color: gray;
}

.highscore {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-right: 15rem;
    margin-top: 3rem;
    align-items: center;
    flex-wrap: wrap;
}

.news {
    height: 100%;
    display: flex;
    justify-content: right;
    margin-left: 15rem;
    margin-top: 3rem;
    align-items: center;
    flex-wrap: wrap;

.uutinen {
    border: 4px solid gray;
    border-radius: 8px;
    margin: 1rem;
}
}
h1 {
    border: 4px solid gray;
    border-radius: 8px;
    text-align: center;
    justify-content: space-evenly;
    padding: 2rem;
}

ol {
    margin: 0;
    padding: 0;
}


ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 1rem;
    padding: 5rem;
}

.hs_section {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
   color: lightblue;
   background: rgba(0, 0, 0, 0.7);
   width: 100%;
   padding: 1rem 3rem 1rem 3rem;
   items-align: center;
   justify-content: space-evenly;
   border: 4px solid gray;
   border-radius: 35px;
}
.hs_section:hover {
background: rgba(0, 0, 0, 0.9);
}



.news_section {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
  color: lightblue;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  items-align: center;
  justify-content: space-evenly;
  border: 4px solid gray;
  border-radius: 35px;
}

.news_section:hover {
background: rgba(0, 0, 0, 0.9);
}