*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("/images/worldmap.png");
    background-size: cover;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

#title {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -13,
    "XELA" 48,
    "YELA" 50;
    font-size: 50px;
    padding-top: 2.5rem;
    text-align: center;
}

#window {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.section-container {
    height: 75%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    border-radius: 8px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
}

.section-container:hover {
    background: rgba(0, 0, 0, 0.9);
}

.list {
   width: 100%;
   padding: 1rem 3rem 1rem 3rem;
   align-items: center;
   justify-content: space-evenly;
   color: lightblue;
}


.list-item {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
}

.heading {
    font-size: 2rem;
    color: white;
    padding-top: 3rem;
}

.heading:hover {
    background: rgba(0, 0, 0, 0.9);
}

#login-menu {
    height: 100%;
    width: 22%;
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid gray;
    border-radius: 8px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
}

.login-buttons {
    color: lightblue;
    border: 4px solid gray;
    width: 20rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;

}

.login-buttons:hover {
  background-color: rgb(54, 54, 54);
}

/* muokkaa */
.login-menu[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 25%;
    margin-left: 37.25%;
    margin-top: 21rem;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
}

.menu-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
}

.login-dialog {
    font-size: 18px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 16px;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: lightblue;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

.menu {
    font-size: 18px;
    margin-bottom: 2rem;
    padding: 16px;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: lightblue;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

.menu:hover {
    background-color: gray;
    border: 4px solid gray;
    border-radius: 8px
}

.exit-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    color: white;
    font-size: 1.5rem;
}

#error-message {
    color: white;
}

/*
nav {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}




article {





}

.news {
    border: 4px solid gray;
    height: 100%;
    display: flex;
    justify-content: right;
    margin-left: 15rem;
    margin-top: 3rem;
    align-items: center;
    border-radius: 8px;
    flex-wrap: wrap;

.uutinen {
    border: 4px solid gray;
    border-radius: 8px;
    margin: 1rem;
}
}
h1 {
    border: 4px solid gray;
    border-radius: 8px;
    text-align: center;
    justify-content: space-evenly;
    padding: 2rem;
}

ol {
    margin: 0;
    padding: 0;
}


ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}







.news_section {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
  color: lightblue;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  items-align: center;
  justify-content: space-evenly;
}

.news_section:hover {
background: rgba(0, 0, 0, 0.9);
}