*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url("/images/worldmap.png");
    background-size: cover;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

#title {
  font-family: "Sixtyfour Convergence", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" -13,
    "XELA" 48,
    "YELA" 50;
    font-size: 50px;
    padding-top: 2.5rem;
    text-align: center;
}

#window {
    display: flex;
    justify-content: space-between;
    margin: 3rem;
}

.section-container {
    height: 75%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    border-radius: 8px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
}

.section-container:hover {
    background: rgba(0, 0, 0, 0.9);
}

.list {
   width: 100%;
   padding: 1rem 3rem 1rem 3rem;
   align-items: center;
   justify-content: space-evenly;
   color: lightblue;
}


.list-item {
    list-style: none;
    margin: 0.5rem;
    padding: 1rem;
}

.heading {
    font-size: 2rem;
    color: white;
    padding-top: 3rem;
}

.heading:hover {
    background: rgba(0, 0, 0, 0.9);
}

#login-menu {
    height: 100%;
    width: 22%;
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid gray;
    border-radius: 8px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
}

.login-buttons {
    color: lightblue;
    border: 4px solid gray;
    width: 90%;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    text-align: center;
    font-size: 30px;

}

.login-buttons:hover {
  background: rgba(0, 0, 170, 0.5);
}

.login-menu[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 25%;
    margin-left: 37.25%;
    margin-top: 21rem;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
}

.menu-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgba(0, 0, 0, 0);
}

.login-dialog {
    font-size: 18px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding: 16px;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: lightblue;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

.menu {
    font-size: 18px;
    margin-bottom: 2rem;
    padding: 16px;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: lightblue;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

.menu:hover {
    background: rgba(0, 0, 170, 0.5);
    border: 4px solid gray;
    border-radius: 8px
}

.exit-button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    color: white;
    font-size: 1.5rem;
}

.exit-button:hover {
    cursor: pointer;
}

.error-message {
    color: white;
}

.hide-element {
    opacity: 0;
}


#game-menu[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 60%;
    margin-left: 37.25%;
    margin-top: 15rem;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    color: lightblue;
}

#welcomer {
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    border-radius: 8px 1px 8px 8px;
    width: 100%;
    height: 8%;
}

#welcome-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 0.8rem;
}

#new-game {
    position: absolute;
    top: 3rem;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    width: 100%;
    height: 20%;
}

#new-game:hover {
    background: rgba(0, 0, 170, 0.5);
    border: 3px solid dimgray;

}

#Uus {
    position: absolute;
    top: 0;
    margin-left: 39%;
    margin-top: 2.5rem;
}

#Pelin-jatke {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5rem;
}

#pj-title {
    margin-left: 36%;
    margin-top: 2rem;

}

#game-list {
    display: grid;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;


}

li {
    border: 2px solid grey;
    width: 97%;
    box-sizing: border-box;
    padding: 0.5rem;
    list-style-type: none;
}

li:hover {
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid gray;
}

.logout {
    position: absolute;
    bottom: 0;
}

.logout-btn {
    border: 2px solid grey;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 0.25rem;
}

.logout-btn:hover {
    background: rgba(0, 0, 170, 0.5);
    border: 2px solid dimgrey;
}

#game {
    background-image: url("/images/worldmap.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vw;

}

#Stats {
    display: flex;
    justify-content: space-evenly;

}

.statsi {
    display: inline-block;
    text-align: center;
    border: 4px solid grey;
    padding: 1.5rem 3.65rem 1rem 3.65rem;
    height: 5rem;
    background-color: silver;
}

.statsi:hover {
    background-color: silver;
    border: 4px solid grey;
}

#game-logout-button {
    display: inline-block;
    text-align: center;
    border: 4px solid grey;
    padding: 1.5rem 3.65rem 1rem 3.65rem;
    height: 5rem;
    background-color: dimgray;
    border-radius: 0 0 12px 0;
}

#game-logout-button:hover {
    background-color: darkred;
    border: 4px solid grey;
}


#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#map {
    height: 74%;
    width: 42%;
    margin: 2rem 0 0 1rem;
    position: absolute;
    left: 1rem;

}

#info {
    position: absolute;
    top: 3rem;
    right: 27%;
    height: 75%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid gray;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 2.5rem;
    margin-top: 4rem;
}

#info-text {
    position: absolute;
    top: 2rem;
    color: lightblue;

}

.airport-info {
    padding: 2rem 7rem 2rem 1rem;
    margin: 4rem 2rem 0 2rem;
    background: rgba(0, 0, 0, 0);
    color: lightblue;
    border: 4px solid gray;
    width: 85%;
    height: 25%;
    border-radius: 8px;


}

.airport-box-heading {
    position: absolute;
    top: 14%;
    margin-left: 23%;
}

.airport-box-text{
    width: 15rem;
    text-align: left;
    margin-top: 2rem;
}

.CO2-box-heading {
    position: absolute;
    top: 50%;
    left: 34%;
}

.airport-box-text-CO2{
    position: absolute;
    top: 60%;
    left: 44%;
    font-size: 28px;
}

.fly-button {
    padding: 2rem 7rem 2rem 7rem;
    margin: 2rem 2rem 2.5rem 2rem;
    background: rgba(0, 0, 0, 0);
    color: lightgreen;
    border: 4px solid gray;
    border-radius: 12px;
    width: 85%;
    height: 15%;
    text-align: center;
    font-size: 24px;
}

.fly-button:hover {
    background-color: rgba(51, 170, 51, .2);
}

.fly-button:active {
    background-color: rgba(51, 170, 51, .3);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    opacity: 0.3;
}

#question {
    position: absolute;
    top: 3rem;
    right: 0;
    height: 75%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid gray;
    border-radius: 8px;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.7);
    margin-right: 2.5rem;
    margin-top: 4rem;
}

#question-text {
    position: absolute;
    top: 0;
    left: 5%;
    margin-top: 2rem;
    color: lightblue;

}

#Answers {
    margin-top: 9rem;

}

.answer {
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    color: lightblue;
    border: 4px solid gray;
    width: 90%;
    padding: 3rem 2rem 3rem 2rem;
    margin: 1rem 1rem 1rem 1.5rem;
    border-radius: 5rem / 22px;
    text-align: center;
    font-size: 24px;
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
}

.answer:hover {
    background: rgba(0, 0, 255, 0.2);

}

.answer:active {
    background: rgba(0, 0, 255, 0.3);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    opacity: 0.3;
}

/*
nav {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;

}




article {





}

.news {
    border: 4px solid gray;
    height: 100%;
    display: flex;
    justify-content: right;
    margin-left: 15rem;
    margin-top: 3rem;
    align-items: center;
    border-radius: 8px;
    flex-wrap: wrap;

.uutinen {
    border: 4px solid gray;
    border-radius: 8px;
    margin: 1rem;
}
}
h1 {
    border: 4px solid gray;
    border-radius: 8px;
    text-align: center;
    justify-content: space-evenly;
    padding: 2rem;
}

ol {
    margin: 0;
    padding: 0;
}


ul {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}







.news_section {
  font-family: "Workbench", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 7,
    "SCAN" -15;
  color: lightblue;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  padding: 1rem 3rem 1rem 3rem;
  items-align: center;
  justify-content: space-evenly;
}

.news_section:hover {
background: rgba(0, 0, 0, 0.9);
}